<div class="bg-light min-vh-100 flex-row align-items-center">
  <c-container>
    <c-row class="justify-content-center">
      <c-col lg="7" md="9" xl="6">
        <c-card class="mx-12">
          <div class="card-header text-center">
            إضافة فيديو </div>
          <c-card-body class="p-4">
            <form [formGroup]="form" (submit)="onSubmit()">
              <!-- Name -->
              <div class="form-group">
                <h5>العنوان</h5>
                <div class="form-group input-group-lg">
                  <input class="form-control" placeholder="العنوان" formControlName="name" 
                  required
                  [ngClass]="{ 'is-invalid': submitted && f['name'].errors, 'is-valid': f['name'].touched && !f['name'].errors }">
                  <div *ngIf="submitted && f['name'].errors" class="invalid-feedback">
                    <div *ngIf="f['name'].errors['required']">لم يتم إختيار العنوان </div>
                  </div>
                </div>
              </div>
              <br>
              <!-- aircraft -->
              <div class="form-group">
                <h5>الوسيلة الجوية</h5>
                <select ng-model="selectedItem" class="form-control" placeholder="الوسيلة الجوية"
                  autocomplete="الوسيلة الجوية" formControlName="aircraft" required
                  [ngClass]="{ 'is-invalid': submitted && f['aircraft'].errors, 'is-valid': f['aircraft'].touched && !f['aircraft'].errors }">
                  <option *ngFor="let aircraft of myAirCrafts" value="{{aircraft.nomAirCraft}}">{{aircraft.nomAirCraft}}
                  </option>
                </select>
                <div *ngIf="submitted && f['aircraft'].errors" class="invalid-feedback">
                  <div *ngIf="f['aircraft'].errors['required']">لم يتم إختيارالتاريخ </div>
                </div>
              </div>
              <br>
              <!-- place -->
              <div class="form-group">
                <h5>المكان</h5>
                <input type="text" class="form-control" formControlName="place" id="userIdFirstWay" list="dynmicUserIds"
                  required
                  [ngClass]="{ 'is-invalid': submitted && f['place'].errors, 'is-valid': f['place'].touched && !f['place'].errors }" />
                <datalist id="dynmicUserIds">
                  <option *ngFor="let item of myplaces" [value]="item.place">{{item.place}}</option>
                </datalist>
                <div *ngIf="submitted && f['place'].errors" class="invalid-feedback">
                  <div *ngIf="f['place'].errors['required']">لم يتم إختيارالمكان </div>
                </div>
              </div>
              <br>
              <!-- date -->
              <div class="form-group">
                <h5>التاريخ</h5>
                <input id="date" type="date" class="form-control" formControlName="date" required
                  [ngClass]="{ 'is-invalid': submitted && f['date'].errors, 'is-valid': f['date'].touched && !f['date'].errors }" />
                <div *ngIf="submitted && f['date'].errors" class="invalid-feedback">
                  <div *ngIf="f['date'].errors['required']">لم يتم إختيارالتاريخ </div>
                </div>
              </div>
              <br>
              <!-- tags -->
              <div class="form-group">
                <h5>المفاتيح</h5>
                <tag-input formControlName="tags" [editable]="true" (onTagEdited)="onTagEdited($event)" required
                [ngClass]="{ 'is-invalid': submitted && f['tags'].errors, 'is-valid': f['tags'].touched && !f['tags'].errors }">
                </tag-input>
                <div *ngIf="submitted && f['tags'].errors" class="invalid-feedback">
                  <div *ngIf="f['tags'].errors['required']">لم يتم إختيار المفاتيح </div>
                </div>
              </div>
              <br>
              <!-- File Input -->
              <div class="form-group">
                <input type="file" (change)="onFileSelect($event)" required
                  [ngClass]="{ 'is-invalid': submitted && f['video'].errors, 'is-valid': f['video'].touched && !f['video'].errors }">
                <div *ngIf="submitted && f['video'].errors" class="invalid-feedback">
                  <div *ngIf="f['video'].errors['required']">لم يتم إختيارالتاريخ </div>
                </div>
                <p *ngIf="fileSize">حجم الفيديو: {{fileSize}}</p>
              </div>
              <br>
              <!-- disks -->
              <div class="form-group">
                <h5>مكان تخزين الفيديو</h5>
                <select ng-model="selectedItem" class="form-control" 
                 formControlName="disk" required
                  [ngClass]="{ 'is-invalid': submitted && f['disk'].errors, 'is-valid': f['disk'].touched && !f['disk'].errors }">
                  <option *ngFor="let disk of myDisks" value="{{disk.mount}}">القرص : {{disk.mount}}  حجم التخزين المتاح : {{(disk.available / (1024 * 1024 * 1024)).toFixed(3) + ' GB'}}
                  </option>
                </select>
                <div *ngIf="submitted && f['disk'].errors" class="invalid-feedback">
                  <div *ngIf="f['disk'].errors['required']">لم يتم إختيار مكان تخزين الفيديو </div>
                </div>
              </div>
              <br>
              <!-- Progress Bar -->
              <div class="progress form-group" *ngIf="percentDone">
                <div class="progress-bar progress-bar-striped bg-success" role="progressbar"
                  [style.width.%]="percentDone">
                </div>
              </div>
              <br>
              <!-- accept -->
              <div class="form-group ">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="accept" formControlName="accept" required
                    [ngClass]="{ 'is-invalid': submitted && f['accept'].errors, 'is-valid': !f['accept'].errors }" />
                    &nbsp;
                  <label class="custom-control-label" for="accept">تأكيد </label>
                  <div *ngIf="submitted && f['accept'].errors" class="invalid-feedback">
                    <div *ngIf="f['accept'].errors['required']">لم يتم التأكيد</div>
                  </div>
                </div>
              </div>
              <!-- Submit -->
              <br>
              <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block btn-lg" [disabled]="form.pristine || form.invalid">إضافة فيديو</button> &nbsp;
                <button class="btn btn-success btn-block btn-lg" type="submit" [disabled]="form.valid">تحقق</button>
                &nbsp;
                <button class="btn btn-danger btn-block btn-lg " type="reset" [disabled]="form.pristine && !submitted"
                  (click)="onReset()">إعادة ضبط</button>
              </div>

            </form>

          </c-card-body>
        </c-card>
      </c-col>
    </c-row>
  </c-container>
</div>