<section  class="video-container">
  <video src="assets/images/back1.mp4" autoplay loop playsinline muted></video>
  
  <div class= "bg-light min-vh-100 d-flex flex-row align-items-center " dir="rtl">
    
    <c-container id="overlayDiv" class= "align-items-center ">
      <h1>
        منظومة الخزن والتصفح والبحث عن الفيديوهات <br> 
      </h1>
      <br> 
      <c-row class="justify-content-center">
        <c-col md="4">
          <c-card-group>
            <c-card class="p-4">
              <c-card-body>
                <form cForm [formGroup]="loginForm">
                  <h1>تسجيل الدخول</h1>
                  <c-input-group class="mb-3">
                    <span cInputGroupText>
                      <svg cIcon name="cilUser"></svg>
                    </span>
                    <input type="text" class="form-control" placeholder="إسم المستخدم" autocomplete="username"
                      formControlName="username" required formControlName="username">
                  </c-input-group>
                  <c-input-group class="mb-4">
                    <span cInputGroupText>
                      <svg cIcon name="cilLockLocked"></svg>
                    </span>
                    <input type="password" class="form-control" placeholder="كلمة العبور"
                      autocomplete="current-password" formControlName="password" required formControlName="password">

                  </c-input-group>
                  <c-row>
                    <c-col xs="6">
                      <button type="submit" cButton class="px-4" color="primary" (click)="login()"
                        (keyup.enter)="login()">
                        دخول
                      </button>
                    </c-col>

                  </c-row>
                </form>
              </c-card-body>
            </c-card>
          </c-card-group>
        </c-col>
        <c-col md="4"><img src="assets/img/avatars/taf.png" class=" img-fluid " width="400" /></c-col>
      </c-row>
    </c-container>
    <div>

    </div>
  </div>
</section>