<div class="bg-light min-vh-100 flex-row align-items-center">
    <div class="">
        <div class="col-md-12">

            <div class="card-body card">تحيين مستخدم
                <hr>

                <div class="col-md-6">

                    <form [formGroup]="userForm" novalidate (ngSubmit)="onSubmit()" class="needs-validation">

                        <div class="form-group">
                            <label class="col-form-label" for="grade" dir="rtl">الرتبة</label>
                            <select ng-model="selectedItem" class="form-control" placeholder="الرتبة"
                                autocomplete="الرتبة" formControlName="grade" required
                                [ngClass]="{ 'is-invalid': submitted && f['grade'].errors, 'is-valid': f['grade'].touched && !f['grade'].errors }">
                                <option *ngFor="let grade of myGrade" value="{{grade._id}}">{{grade.grade}}</option>
                            </select>

                            <div *ngIf="submitted && f['grade'].errors" class="invalid-feedback">
                                <div *ngIf="f['grade'].errors['required']">لم يتم إختيار الرتبة</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-form-label" for="firstname">الإسم</label>
                            <input class="form-control" id="firstname" type="text" formControlName="firstname"
                                placeholder="الإسم" autocomplete="given-name" required autofocus
                                [ngClass]="{ 'is-invalid': submitted && f['firstname'].errors, 'is-valid': f['firstname'].touched && !f['firstname'].errors }" />
                            <div *ngIf="submitted && f['firstname'].errors" class="invalid-feedback">
                                <div *ngIf="f['firstname'].errors['required']">لم يتم إدخال الإسم</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-form-label" for="lastname">اللقب</label>
                            <input class="form-control" id="lastname" type="text" formControlName="lastname"
                                placeholder="اللقب" autocomplete="family-name" required
                                [ngClass]="{ 'is-invalid': submitted && f['lastname'].errors, 'is-valid': f['lastname'].touched && !f['lastname'].errors }" />
                            <div *ngIf="submitted && f['lastname'].errors" class="invalid-feedback">
                                <div *ngIf="f['lastname'].errors['required']">لم يتم إدخال اللقب</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-form-label" for="username">إسم المستخدم</label>
                            <input class="form-control" id="username" type="text" formControlName="username"
                                placeholder="إسم المستخدم" autocomplete="username" required
                                [ngClass]="{ 'is-invalid': submitted && f['username'].errors, 'is-valid': f['username'].touched && !f['username'].errors }" />
                            <div *ngIf="submitted && f['username'].errors" class="invalid-feedback">
                                <div *ngIf="f['username'].errors['required']">لم يتم إدخال إسم المستخدم</div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-form-label" for="role">نوع الحساب</label>
                            <select ng-model="selectedItem" class="form-control" placeholder="نوع الحساب"
                                autocomplete="role" formControlName="role" required
                                [ngClass]="{ 'is-invalid': submitted && f['role'].errors, 'is-valid': f['role'].touched && !f['role'].errors }">
                                <option value=""></option>
                                <option value="admin">مسير</option>
                                <option value="operator">مشغل</option>
                                <option value="user">مستخدم</option>
                            </select>
                            <div *ngIf="submitted && f['role'].errors" class="invalid-feedback">
                                <div *ngIf="f['role'].errors['required']">لم يتم إختيار نوع الحساب</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label class="col-form-label" for="password">كلمة العبور</label>
                                <input class="form-control" id="password" type="password" formControlName="password"
                                    placeholder="كلمة العبور" autocomplete="new-password" required
                                    [ngClass]="{ 'is-invalid': submitted && f['password'].errors, 'is-valid': f['password'].touched && !f['password'].errors }" />
                                <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
                                    <div *ngIf="f['password'].errors['required']">لم يتم إدخال كلمة المرور</div>
                                    <div *ngIf="f['password'].errors['minlength']">{{formErrors.password.minLength}}
                                    </div>
                                    <div *ngIf="f['password'].errors['pattern']">{{formErrors.password.pattern}}</div>
                                </div>
                            </div>

                        </div>
                        <br>
                        <div class="form-group">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="accept" formControlName="accept"
                                    required
                                    [ngClass]="{ 'is-invalid': submitted && f['accept'].errors, 'is-valid': !f['accept'].errors }" />
                                &nbsp;
                                <label class="custom-control-label" for="accept">تأكيد</label>
                                <div *ngIf="submitted && f['accept'].errors" class="invalid-feedback">
                                    <div *ngIf="f['accept'].errors['required']">يجب التأكد من جميع المعلومات</div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="form-group">
                            <button class="btn btn-primary mr-1" (click)="updateuser()"
                                [disabled]="f['accept'].invalid">تسجيل</button> &nbsp;
                            <button class="btn btn-success mr-1" type="submit" [disabled]="userForm.valid">تحقق</button>
                            &nbsp;
                            <button class="btn btn-danger" type="reset" [disabled]="userForm.pristine && !submitted"
                                (click)="onReset()">إعادة
                                الضبط</button>
                        </div>
                    </form>
                </div>


            </div>

        </div>
    </div>
</div>